/*--------------------------------------------------------------
 Footer
--------------------------------------------------------------*/
.site-footer {
	background-color: #292626;
	padding: 50px 0;
	.footer_inner {
		display: flex;
		justify-content: space-between;
		padding-bottom: 20px;
		.column {
			a {
				color: #fff;
				text-decoration: none;
				font-size: 15px;
				font-weight: 400;
				line-height: 1.75rem;
				&:hover {
					color: var(--cpt360-primary);
				}
			}
			h4 {
				font-size: 16px;
				font-weight: 700;
				color: var(--cpt360-primary);
				text-transform: uppercase;
				line-height: 1.75rem;
				padding: 0;
				margin: 0 0 10px 0;
			}
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
				li {
					text-decoration: none;
				}
			}
		}
		.contact_links {
			span {
				display: block;
				color: #fff;
				text-decoration: none;
				font-size: 14px;
				font-weight: 700;
				line-height: 1.75rem;
			}
		}

		.footer_logo {
			h4 {
				padding-left: 12px;
			}
			ul {
				padding-left: 12px;
				display: flex;
				gap: 20px;
			}
			li {
			}
		}

		.offsite_links {
			ul {
				li {
					a {
						display: flex;
						align-items: center;
						gap: 10px;
						margin-bottom: 5px;

						span {
							display: flex;
							align-items: center;
							flex-shrink: 0;

							img {
								width: 20px;
								height: 20px;
								object-fit: contain;
							}
						}
					}
				}
			}
		}
	}
	.border {
		display: block;
		height: 1px;
		width: 100%;
		background-color: #fff;
	}

	.legal {
		text-align: center;
		p,
		p a {
			font-family: var(--wp--preset--font-family--body-font);
			color: #fff;
			font-weight: 400;
			color: #fff;
			font-size: 13px;
			line-height: normal;
			font-style: normal;
			text-decoration: none;
		}
		p a:hover {
			text-decoration: underline;
		}
	}
}
